<div class="container">
	<div class="row">
		<div class="col-md-9 col-sm-12">
      <%= render 'layouts/errors', obj: @question %>
      <h2>新規質問</h2>
      <%= render 'posts/form', obj: @question %>
    </div>
    <div class="col-md-3 col-sm-12">
			<%= render 'questions/sidebar', tags: @tags, question_empathy_ranks: @question_empathy_ranks %>
		</div>
  </div>
</div>