<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <h2>新規質問</h2>
      <%= render 'layouts/errors', obj: @question %>
      <%= render 'posts/form', obj: @question %>
    </div>
  </div>
</div>