<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-lg-8 col-lg-offset-4">
			<%= render 'layouts/errors', obj: @answer %>
			<%= form_with(model: @answer, url: question_answers_path, method: :patch, local: true) do |f| %>
			  <%= f.text_area :answer, size: "90×5" %>
			  <%= f.submit '変更する' %>
			<% end %>
		</div>
	</div>
</div>
</div>