<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-lg-8 col-lg-offset-4">
			<h2>投稿一覧</h2>
			<%= render 'posts/index', posts: @posts %>
			<%= link_to "投稿をいいね順に並べる", posts_likes_rank_path %>
			<%= paginate @posts %>
		</div>
	</div>
</div>

