<div class="container">
	<div class="row">
		<div class="col-md-9 col-sm-12">
      <%= render 'layouts/errors', obj: @post %>
			<h2>新規投稿</h2>
      <%= render 'posts/form', obj: @post %>
    </div>
    <div class="col-md-3 col-sm-12">
			<%= render 'posts/sidebar', post_tags: @post_tags, post_like_ranks: @post_like_ranks %>
    </div>
  </div>
</div>


